 <div class="jp-type-playlist">
                            <div class="jp-gui jp-interface flex-wrap justify-content-center">
                               <audio>
                                   <source href="">
                               </audio>
                                <div class="jp-progress-container flex-item">
                                    <div class="jp-time-holder">
                                        <span class="jp-current-time" role="timer" aria-label="time">00:00</span>
                                        <span class="jp-duration" role="timer" aria-label="duration">04:27</span>
                                    </div>
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar" style="width: 100%;">
                                            <div class="jp-play-bar" style="width: 0%;">
                                                <div class="bullet">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jp-volume-controls flex-item">
                                    <div class="widget knob-container">
                                        <div class="knob-wrapper-outer">
                                            <div class="knob-wrapper">
                                                <div class="knob-mask">
                                                    <div class="knob d3" style="transform: rotateZ(270deg);"><span></span></div>
                                                    <div class="handle" style="transform: rotateZ(270deg);"></div>
                                                    <div class="round">
                                                        <img src="/static/images/svg/volume.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <input></input> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>