
<div class="ms_blog_single_wrapper">
				<div class="row">
					<div class="col-lg-9 col-md-9">
						<div class="ms_blog_single">
							<div class="blog_single_img">
								<img src="images/blog/blog_single.jpg" alt="" class="img-fluid">
							</div>
							<div class="blog_single_content">
								<h3 class="ms_blog_title">عنوان خبر</h3>
								<div class="ms_post_meta">
									<ul>
										<li>05 آوریل، 2018 / </li>
										<li>12 لایک /    </li>
										<li>8 دیدگاه    </li>
									</ul>
								</div>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
								<blockquote>
									لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
								</blockquote>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
								<div class="ms_blog_tag foo_sharing">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="blog_comments">
								<h1>نظرات</h1>
								<ol>
									<li>
										<div class="ms_comment_section">
											<div class="comment_img">
												<img src="images/blog/author.jpg" alt="">
											</div>
											<div class="comment_info">
												<div class="comment_head">
													<h3>کریستین اوکانل</h3>
													<p>28 آوریل 2018 ساعت 20:45</p>
												</div>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
												<a href="#" class="comment_reply">پاسخ</a>
											</div>
										</div>
									</li>
								</ol>
							</div>
							<!----Blog Comment Form---->
							<div class="blog_comments_forms">
								<h1>ارسال نظر</h1>
								<form>
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="comment_input_wrapper">
												<input name="name" value="" type="text" class="cmnt_field" placeholder="نام ...">
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="comment_input_wrapper">
												<input name="email" value="" type="email" class="cmnt_field" placeholder="ایمیل ...">
											</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="comment_input_wrapper">
												<textarea id="comment" name="comment" class="cmnt_field" placeholder="نظر خود را بنویسید ..."></textarea>
											</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="comment-form-submit">
												<input name="submit" type="submit" id="comment-submit" class="submit ms_btn" value="ارسال دیدگاه">
											</div>
										</div>
									</div>
                               </form>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3">
						<!----Sidebar Start---->
						<div class="ms_sidebar">
							<div class="widget widget_search">
								<input type="text" class="form-control" placeholder="جستجو ...">
                                <button class="search_btn search_icon"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
							<!--Categories-->
							<div class="widget widget_categories">
								<h2 class="widget-title">دسته بندی</h2>
								<ul>
									<li><a href="#"> پروفایل خوانندگان</a></li>
									<li><a href="#"> پرفروش ترین آلبوم ها</a></li>
									<li><a href="#"> بلیت کنسرت</a></li>
									<li><a href="#"> ویدئو های پربازدید</a></li>
									<li><a href="#"> آلات موسیقی</a></li>
									<li><a href="#"> آهنگ های برتر</a></li>
								</ul>
                           </div>
						   <!--Feature Post-->
						   <div class="widget widget_recent_entries">
								<h2 class="widget-title">برترین پست ها</h2>
								<ul>
									<li>
										<div class="recent_cmnt_img">
											<img src="images/weekly/song2.jpg" alt="">
										</div>
										<div class="recent_cmnt_data">
											<h4><a href="#">پست 1</a></h4>
											<span>07 اکتبر، 2018</span>
										</div>
									</li>
									<li>
										<div class="recent_cmnt_img">
											<img src="images/blog/fp_img1.jpg" alt="">
										</div>
										<div class="recent_cmnt_data">
											<h4><a href="#">پست 2</a></h4>
											<span>11 آوریل, 2018</span>
										</div>
									</li>
									<li>
										<div class="recent_cmnt_img">
											<img src="images/blog/fp_img2.jpg" alt="">
										</div>
										<div class="recent_cmnt_data">
											<h4><a href="#">پست 3</a></h4>
											<span>24 آوریل, 2018</span>
										</div>
									</li>
								</ul>
                            </div>
							<!---Tags--->
							<div class="widget widget_tag_cloud">
								<h2 class="widget-title">تگ ها</h2>
								<ul>
									<li><a href="#">موزیکال</a></li>
									<li><a href="#">جاز</a></li>
									<li><a href="#">کنسرت</a></li>
									<li><a href="#">پاپ</a></li>
									<li><a href="#">جدید</a></li>
									<li><a href="#">شاد</a></li>
									<li><a href="#">پروفایل</a></li>
								</ul>
                           </div>
						</div>
					</div>
				</div>
			</div>
		</div>