
<div class="ms_top_right">
                    <div class="ms_top_btn">
                        <a href="javascript:;" class="ms_admin_name">{{ userdetail}}</a>
                        <ul class="pro_dropdown_menu text-right">
                            <li><a href="/commentspage/1" target="_blank">Blogs</a></li>
                            <li><a href="/purchase"><i style='font-size:24px' class='fa fa-cart-plus'></i></a></li>
                            <li ><a  href="/MyFreindsPage" >My Freinds</a></li>
                            <li><a href="/logoutuser">Sign Out</a></li>
                        </ul>
                    </div>


</div>
