<div class="ms_save_modal">
		<div id="save_modal" class="modal  centered-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
						<i class="fa_icon form_close"></i>
					</button>
                    <div class="modal-body">
						<h1>عضو شوید و آهنگ های خود را به اشتراک گذارید !</h1>
						<div class="save_modal_btn">
							<a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i> عضویت از طریق اکانت google </a>
							<a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> عضویت از طریق facebook</a>
						</div>
						<div class="ms_save_email">
							<h3>یا استفاده از ایمیل</h3>
							<div class="save_input_group">
								<input type="text" placeholder="نام ..." class="form-control">
							</div>
							<div class="save_input_group">
                                <input type="password" placeholder="ایمیل ..." class="form-control">
                            </div>
							<button class="save_btn">ورود</button>
						</div>
						<div class="ms_dnt_have">
						    <span>حساب کاربری ندارید ؟</span>
							<a href="javascript:;" class="hideCurrentModel" data-toggle="modal" data-target="#myModal">ثبت نام</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</div>