{% load static %}
<link rel="stylesheet" type="text/css" href="{% static " css/fonts.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.rtl.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js/plugins/swiper/css/swiper.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js/plugins/nice_select/nice-select.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js/plugins/player/volume.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js/plugins/scroll/jquery.mCustomScrollbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- Favicon Link -->
<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}">