<div class="ms_lang_popup">
        <div id="lang_modal" class="modal  centered-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
						<i class="fa_icon form_close"></i>
					</button>
                    <div class="modal-body">
                        <h1>انتخاب زبان</h1>
                        <p>لطفا زبان مورد نظر موسیقی را انتخاب کنید.</p>
                        <ul class="lang_list">
                            <li>
                                <label class="lang_check_label">
							انگلیسی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							هندی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							روسی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							فرانسوی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							 آلمانی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							اسپانیایی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							چینی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							ژاپنی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							عربی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                            <li>
                                <label class="lang_check_label">
							 ایتالیایی
							<input type="checkbox" name="check">
							<span class="label-text"></span>
							</label>
                            </li>
                        </ul>
                        <div class="ms_lang_btn">
                            <a href="#" class="ms_btn">تایید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>