{% load static %}
{% load render_partial %}
 <div class="ms_player_wrapper">
            <div class="ms_player_close">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
            <div class="player_mid">
                <div class="audio-player">
                    <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;"><img id="jp_poster_0" style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata" src="http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg" title="Cro Magnon Man"></audio></div>
                    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                        <div class="player_left">
                            <div class="ms_play_song">
                                <div class="play_song_name">
                                    <a href="javascript:void(0);" id="playlist-text">
                                        <div class="jp-now-playing flex-item"><div class="jp-track-name"><span class="que_img"><img src="images/weekly/song1.jpg"></span><div class="que_data">Cro Magnon Man <div class="jp-artist-name">Mushroom Records</div></div></div></div>
                                    </a>
                                </div>
                            </div>
                            <div class="play_song_options">
                                <ul>
                                    <li><a href="#"><span class="song_optn_icon"><i class="ms_icon icon_download"></i></span>دانلود</a></li>
                                    <li><a href="#"><span class="song_optn_icon"><i class="ms_icon icon_fav"></i></span>علاقه مندی ها</a></li>
                                    <li><a href="#"><span class="song_optn_icon"><i class="ms_icon icon_playlist"></i></span>افزودن به پلی لیست</a></li>
                                    <li><a href="#"><span class="song_optn_icon"><i class="ms_icon icon_share"></i></span>اشتراک گذاری</a></li>
                                </ul>
                            </div>
                            <span class="play-left-arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                        </div>
                        <!----Right Queue---->
                        <div class="jp_queue_wrapper">
                            <span class="que_text" id="myPlaylistQueue">
                                <i class="fa fa-angle-up" aria-hidden="true"></i> لیست</span>
                            <div id="playlist-wrap" style="display: block;">
                                <div class="jp_queue_cls"><i class="fa fa-times" aria-hidden="true"></i></div>
                                <h2>queue</h2>



                                </div>
                        <div>
                                    <ul style="">
                                        {% for Song in DownloadUser %}
                                        <li>
                                            <div>

                                                <a href="javascript:;" class="jp-playlist-item-remove" style="display: none;">×</a>
                                                <a href="javascript:;" class="jp-playlist-item" tabindex="0">
                                                    <span class="que_img">
                                                        <img src="{{ Song.MusicDownload.image.url }}" style="width: 50px">
                                                    </span>

                                            <div class="que_data"><a href="/playsong/{{ Song.MusicDownload.id }}">{{ Song.MusicDownload.title }}</a><span class="jp-artist"></span>
                                            </div>
                                                </a>
                                                <div class="action">
                                                    <span class="que_more">
                                                    <img src="{% static "images/svg/more.svg" %}">
                                                </span>
                                                    <span class="que_close">
                                                        <button type="submit">play</button>

                                                    </span>
                                                </div>
                                                
                                            </div>
                                            <ul class="more_option">
                                                <li class="jp-playlist-current">
                                                    <a href="#">
                                                        <span class="opt_icon" title="Add To Favourites"><span class="icon icon_fav"></span></span></a>
                                                </li>
                                                <li><a href="#"><span class="opt_icon" title="Add To Queue"><span class="icon icon_queue"></span></span></a></li>
                                                <li><a href="#"><span class="opt_icon" title="Download Now"><span class="icon icon_dwn"></span></span></a></li>
                                                <li><a href="#"><span class="opt_icon" title="Add To Playlist"><span class="icon icon_playlst"></span></span></a></li>
                                                <li><a href="#"><span class="opt_icon" title="Share"><span class="icon icon_share"></span></span></a></li>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                                <div class="jp_queue_btn">
                                    <a href="javascript:;" class="ms_clear" data-toggle="modal" data-target="#clear_modal">پاک کردن</a>
                                    <a href="clear_modal" class="ms_save" data-toggle="modal" data-target="#save_modal">ذخیره</a>
                                </div>
                            </div>
                        </div>
                         <div class="jp-type-playlist">
                            <div class="jp-gui jp-interface flex-wrap justify-content-center">
                               <audio>
                                   <source href="{{ selected_music.SongFile.url }}">
                               </audio>
                                <div class="jp-progress-container flex-item">
                                    <div class="jp-time-holder">
                                        <span class="jp-current-time" role="timer" aria-label="time">00:00</span>
                                        <span class="jp-duration" role="timer" aria-label="duration">04:27</span>
                                    </div>
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar" style="width: 100%;">
                                            <div class="jp-play-bar" style="width: 0%;">
                                                <div class="bullet">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jp-volume-controls flex-item">
                                    <div class="widget knob-container">
                                        <div class="knob-wrapper-outer">
                                            <div class="knob-wrapper">
                                                <div class="knob-mask">
                                                    <div class="knob d3" style="transform: rotateZ(270deg);"><span></span></div>
                                                    <div class="handle" style="transform: rotateZ(270deg);"></div>
                                                    <div class="round">
                                                        <img src="/static/images/svg/volume.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <input></input> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>&lt;
            <!--main div-->
        </div>