{% load static %}
<div class="ms_releases_wrapper">
                <div class="ms_heading">
                    <h1>New Songs</h1>
                    <span class="veiw_all"><a href="/All_last_song">View More</a></span>
                </div>
                <div class="ms_release_slider swiper-container">

                    <div class="ms_divider"></div>
                    {% for topsong in lastsong %}
                    <div class="swiper-slide swiper-slide-active" style="width: 263px; margin-left: 10px;" data-swiper-slide-index="1">
                            <div class="ms_release_box">
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">
                                        <img src="{{ topsong.image.url }}" alt="">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="{% static "images/svg/play.svg" %}" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <a href="/addtopurchase/{{ topsong.id }}"><h3 style="text-align: right">{{topsong.title }}</h3></a><br>
                                        <p>{{ topsong.time_add.date }}</p>


                                    </div>

                                </div>

                            </div>

                        </div>
                    {% endfor %}
                </div>
                <!-- Add Arrows -->

            </div>